@inject Microsoft.AspNetCore.Identity.SignInManager<Login.Identity.User> SignInManager
@inject Microsoft.AspNetCore.Identity.UserManager<Login.Identity.User> UserManager


<div class="container mt-5">
    <div class="row justify-content-center">
        @if (!SignInManager.IsSignedIn(User))
        {
            @await Html.PartialAsync("_LoginPartial", new Login.Models.LoginViewModel())
        }
        else
        {
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="text-center">
                        @{
                            // Use asynchronous call for better performance
                            var currentUser = await UserManager.GetUserAsync(User);
                            var firstName = currentUser?.FirstName ?? "Guest";
                        }
                        <h3>Welcome back, @firstName!</h3>
                        <p class="lead">You're already signed in.</p>
                        <form asp-action="Logout" method="post">
                            <button type="submit" class="btn btn-danger btn-lg">
                                <i class="fas fa-sign-out-alt"></i> Log Out
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
